* {
    /* font-size: 25px */
}

.chat-block {
    margin: 5vh 0;
}

.message-block {
    height: 70vh;
    font-size: 20px;
}

.input-block {
    height: 10vh;
}

.userLeft {
    color: red;
}

.userJoin {
    color: green;
}

.userCounter{
    font-size: 20px;
    color: red;
    margin-top: 5%;
    margin-left: 95%;   
}


.message_file_block {
    display: flex;
    justify-content: space-between;
}

.file_attach {
    margin-top: 1.2%;
    width: 5%;
}

.massage_input__block {
    width: 95%;
}

.ajs-message.ajs-custom-error { 
    color:rgba(0, 0, 0, 0.801);
    background-color: rgba(214, 105, 105, 0.596);
    border-radius: 8%;
    border-color: #31708f; 
}