* {
    /* font-size: 25px */
}

.chat-block {
    margin: 5vh 0;
}

.message-block {
    height: 80vh;
    overflow: auto;
    font-size: 20px;
}

.input-block {
    height: 10vh;
}

.userLeft {
    color: red;
}

.userJoin {
    color: green;
}

.userCounter{
    font-size: 20px;
    color: rgb(20, 209, 146);
    margin-top: 5%;
    margin-left: 100%;   
}